.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  position: fixed;
  width: 100%;
  padding: 16px;
  z-index: 999;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo h2 {
  font-family: Nunito;
  font-weight: 300;
  font-size: 40px;
}
